@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@view-transition {
  navigation: auto;
}

html {
  color-scheme: light dark;
}

html,
body {
  min-height: 100dvh;
  font-family: 'system-ui';
  color: light-dark(#030507, #f1f3f5);
}

input,
select {
  font-size: 1.3rem;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid light-dark(rgb(228, 228, 231), rgb(39, 39, 42));
  border-radius: 0.75rem;
  @apply text-primary;

  &:focus-visible {
    outline-offset: 1px;
    @apply border-primary outline-primary;
  }
}

button,
.button {
  display: inline-block;
  font-family: 'system-ui';
  font-size: 1.3rem;
  padding: 0.75rem 1rem;
  border: 2px solid light-dark(rgb(228, 228, 231), rgb(39, 39, 42));
  border-radius: 0.75rem;
  @apply text-primary-inverted bg-page-bg-inverted;

  &:focus-visible {
    /* TODO: Handle outlines better */
    /* outline-offset: 1px; */
    @apply outline-primary text-secondary;
  }

  &.outline {
    @apply bg-page-bg text-primary;
  }
}
